.btn,
.btn:focus {
  width: 155px;
  height: 50px;

  font: inherit;
  font-size: 0.88888888888889em;
  line-height: 3.125;

  color: @inverse-color;
  background-color: @button-bg;

  &:hover {
    color: @inverse-color;
    background-color: @button-hover-bg;
  }
}
