.card.horizontal {
  .card-content {
      h4 {
        margin-bottom: 1em;
        font-size: 1.38888888888889em;

          .subheading {
            display: block;
            font-size: 0.72em;
            color: @highlight;
          }
      }

      p {
        line-height: 1.38888888888889;
      }
  }
}

.card-offer {
  .card-image {
    width: 100px;
    background-color: @offer-image-bg;

      .svg {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 0 auto;
      }
  }
}

.card-review {
  box-shadow: none;

  .review-image {
    display: block;
    width: 122px;
    height: 122px;
  }

  .review-image-1 {
    background-image: url("../img/review1.jpg");
  }
  .review-image-2 {
    background-image: url("../img/review2.jpg");
  }
}

.card-team {
  .card-reveal {
    height: 45%;
    color: @inverse-color;
    background-color: @team-reveal;
  }

  &:hover .card-reveal {
    display: block;
    transform: translateY(-100%);
  }
}
