.card.horizontal {
  .card-content {
      h4 {
        margin-bottom: 1em;
        font-size: 1.38888888888889em;

          .subheading {
            display: block;
            font-size: 0.72em;
            color: @highlight;
          }
      }

      p {
        line-height: 1.38888888888889;
      }
  }
}

.card-offer {
  .card-image {
    width: 100px;
    background-color: @offer-image-bg;

      .svg {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 0 auto;
      }
  }
}

.card-review {
  box-shadow: none;

  .review-image {
    display: block;
    width: 122px;
    height: 122px;
  }

  .review-image-1 {
    background-image: url("../img/review1.jpg");
  }
  .review-image-2 {
    background-image: url("../img/review2.jpg");
  }
}

.card-team {
  position: relative;

  .card-reveal {
    height: 40%;
    padding:0;
    padding-top: 7px;

    font-weight: normal;
    color: @inverse-color;
    background-color: @team-reveal;

      .card-reveal-title {
        font-size: 1.38888888888889em;
        line-height: 1;
      }

      p {
        margin: 0;
      }

      .social-icon:hover {
        box-shadow: 0 4px 0 1px @team-icon-hover;
          .svg path {
            fill: @team-icon-hover;
          }
      }
  }
}

.card-team:after {
  position: absolute;
  top:0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #2a2a2a;
  opacity: 0.6;
  z-index: 50;
  content: "";
}

.card-team:hover {
  &:after {
    display: none;
  }
  .card-reveal {
    display: block;
    transform: translateY(-100%);
  }
}
