.page-footer {
  padding: 0;
  // font-family: 'Roboto', sans-serif;
  font-size: 0.77777777777778em;
  line-height: 1.42857142857143;

  color: @footer-color;
  background-color: @footer-bg;

    p {
      margin: 0;
    }
}

.footer-subscribe {
  padding: 15px 0;

  font-size: 1.14285714285714em;
  line-height: 1.25;

  background-color: @footer-subscribe;
}

.footer-section {
  position: relative;
  padding-top: 45px;
  padding-left: 10px;

  .footer-title,
  .footer-subtitle {
    position: absolute;
    top: 0;
    left: 0;
  }
  .footer-subtitle {
    font-size: 1.42857142857143em;
    line-height: 1;
    color: @white-base;
  }

  .social-list {
    li:not(:last-child) {
      margin-top: 30px;
      margin-right: 2px;
    }
    .social-icon {
      display: block;
      width: 35px;
      height: 35px;
      padding: 7px 0;
      line-height: 35px;
      background: #ffffff url('../img/footer-social-pattern.png') repeat;
    }
    .social-icon:hover {
      outline: 1px solid @white-base;
      box-shadow: inset 0 0 1px 1px @gray-lighter;
    }
  }
}

.footer-features {
  margin: 0;

  li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 30px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 16px;
      height: 15px;

      background: transparent url("../img/check-list.png") no-repeat;
      content: "";
    }
  }
}

.footer-copyright {
  margin-top: 65px;
  padding: 25px 0;
  border-top: 2px solid @footer-copyright;
}
