.subscribe-form {
  @btn-width: 40px;
  @btn-height: 40px;
  position: relative;
  padding-right: @btn-width;

    .input-field {
        margin: 0;

        input {
          height: auto;
          margin: 0;
          padding: 10px;

          font-size: inherit;
          line-height: inherit;

          box-sizing: border-box;
          background-color: @white-base;
          border: none;

          &:focus {
            box-shadow: none;
            border: none;
          }
        }
    }

    .subscribe-btn {
      position: absolute;
      top: 0;
      right: 0;

      width: @btn-width;
      height: @btn-height;
      padding-left: 15px;
      padding-right: 5px;
      box-sizing: border-box;
      z-index: 50;

        i {
           margin: 0;
          line-height: @btn-height;
        }
    }
}
