html,body {
  font-family: @font-family-main;
  font-size: 18px;
  line-height: 1.66666666666667;
  font-weight: 300;
  color: @text-color;
}

h1, h2, h3, h4 {
  font-weight: bold;
  text-transform: uppercase;
  color: @heading-color;
}

a {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: @link-color;

  &:hover,
  &.active {
    color: @highlight;
  }
}

.divider {
  background-color: @divider-color;
}

.row {
  margin-bottom: 0;
}

ul.inline-list {
  margin: 0;
  list-style: none;

    li {
      display: inline-block;
      margin: 0;
      margin-right: 10px;
      vertical-align: bottom;
      &:last-child {
        margin-right: 0;
      }
    }

}


.text-hide {
  font-size: 0;
  background-color: transparent;
}

.logo {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.88888888888889em;
  text-transform: uppercase;
  color:  @highlight;
}
