nav {
  color: @link-color;
    a {
      color: inherit;
    }
    ul li {
        a {
          font-size: 0.77777777777778em;
          font-weight: bold;
          color: inherit;
        }

      &.active,
      &:hover  {
        background-color: transparent;
          a {
            color: @highlight;
            background-color: transparent;
          }
      }
    }
}
