nav {
    ul li {
        a {
          font-size: 0.77777777777778em;
          font-weight: bold;
          color: @link-color;
        }

      &.active,
      &:hover  {
        background-color: transparent;

          a {
            background-color: transparent;
          }
      }
    }
}
