@gray-base: #3f444a;
@gray-dark: @gray-base - #0d1218;
@gray-light: @gray-base + #aca7a1;
@red-base: #ec4848;
@white-base: #ffffff;

@text-color: @gray-base;
@text-dark: @gray-dark;

@highlight: @red-base;

@button-bg: @red-base;
@collapsible-header: @gray-base;
@collapsible-active-header: @red-base;
@collapsible-border:  #c4c4c4;

@progress-bg: #f2f2f2;
@progress-color: @red-base;
@progress-border: #d7d7d7;

@service-bg: @white-base;
@service-active-bg: @gray-base;
@service-border: @gray-light;

@offer-image-bg: @red-base;

@divider-color: @gray-light;

@font-family-main: 'Roboto Condensed', sans-serif;
